# Fundamentos de Python aplicados a datos.

##### Creación y manipulación de variables, listas, tuplas, diccionarios y cadenas de texto.

### A) Creación de Variables

In [3]:
#Creación de variables de diferente tipo
edad=25 #numérico entero
precio=19.95 #numérico flotante
activo=True #booleano
nombre="Ana" #cadena de texto

In [4]:
#Imprimir variables
print(edad, precio, activo, nombre)

25 19.95 True Ana

### B) Operaciones con Cadenas

In [5]:
#Crear cadena de texto
nombre_completo = "Mariana Verdugo"

In [6]:
#Convertir la cadena de texto a mayúsculas y minúsculas
print(nombre_completo.upper())
print(nombre_completo.lower())

MARIANA VERDUGO
mariana verdugo

In [7]:
#Reemplazar el primer nombre con otro
nuevo=nombre_completo.replace("Mariana", "Juan")
nuevo

'Juan Verdugo'

In [8]:
#Dividir la cadena en palabras
print(nombre_completo.split())
print(nuevo.split())

['Mariana', 'Verdugo']
['Juan', 'Verdugo']

### C)Trabajando con Listas

In [9]:
#Creación de lista con tres colores
colores=["verde","morado","dorado"]

In [10]:
#Añadir un color adicional al final de la lista
colores.append("naranja")

In [11]:
#Acceder e imprimir el segundo color de la lista
print(colores[1])

morado

In [12]:
#Eliminar el último color de la lista
colores.pop()
print(colores)

['verde', 'morado', 'dorado']

## D)Uso de Tuplas

In [13]:
#Crear tupla con coordenadas aleatorias
coordenadas=(34.0522, 118.2437)

In [14]:
#Acceder e imprimir la latitud
print(coordenadas[0])

34.0522

In [15]:
#Intento de cambiar la latitud
# coordenadas[0]=25
coordenadas.replace(24.80209,0)

AttributeError: 'tuple' object has no attribute 'replace'

#### Nota: se obtuvo error "AttributeError: 'tuple' object has no attribute 'replace'", esto pasa porque las tuplas son inmutables, lo que quiere decir que no pueden cambiar una vez creadas.

### E) Diccionarios

In [16]:
#Creación de un diccionario con datos aleatorios
random = {
    "nombre": "Juan",
    "edad": 27,
    "ciudad": "Los Ángeles"
}

In [17]:
#Acceder e imprimir la ciudad
print(random['ciudad'])

Los Ángeles

In [18]:
#Añadir una nueva clave "ocupación" con el valor "estudiante"
random['ocupación']='estudiante'
random

{'nombre': 'Juan',
 'edad': 27,
 'ciudad': 'Los Ángeles',
 'ocupación': 'estudiante'}

In [19]:
#Eliminar la clave edad
random.pop('edad')
random

{'nombre': 'Juan', 'ciudad': 'Los Ángeles', 'ocupación': 'estudiante'}

### F) Operaciones Numéricas

In [20]:
#Definir dos variables numéricas
num1=45
num2=2

In [21]:
#Imprimir resultados de operaciones matemáticas
#Suma
print(num1+num2)
#Multiplicación
print(num1*num2)
#Resta
print(num1-num2)
#División
print(num1/num2)
#Potencia
print(num1**num2)
#Módulo
print(num1%num2)
#División entera
print(num1//num2)

47
90
43
22.5
2025
1
22

# G) Funciones, Modulos y Bucles

In [22]:
#Función que recibe una lista con un número par de elementos y que usando un for imprime la segunda mitad de la lista
import math #Librería math
pares=[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40] #Lista con 20 elementos numéricos pares
def imprimir_segunda_mitad(lista):
    segunda_mitad=[]
    punto_medio = math.ceil(len(lista) / 2) #Obtener división entera de la mitad de la lista
    for elemento in lista[punto_medio:]:
        segunda_mitad.append(elemento)
    return segunda_mitad

res=imprimir_segunda_mitad(pares)
res

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [23]:
#Uso de la función del punto 1 para imprimir la segunda mitad de los números de la lista pero todos multiplicados por el número  e
e=math.e
multiplicar = [n * e for n in res]
print(multiplicar)

[59.80220022609899, 65.23876388301709, 70.67532753993517, 76.11189119685326, 81.54845485377135, 86.98501851068944, 92.42158216760754, 97.85814582452562, 103.29470948144372, 108.7312731383618]